.checkout-container {
	height: 100vh;
	width: 100%;
	background-color: rgb(31, 30, 30);
	/* background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 100%); */
	color: white;
}

.checkout-form {
	display: flex;
	flex-direction: column-reverse;
	justify-content: center;
	width: 100%;
}

.form-h2 {
	text-align: center;
	padding: 5px 105px;
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 10%);
}

.form-h3 {
	font-size: 18px;
}
/* .form-h4 {
	background-image: linear-gradient(120deg, #89f7fe 0%, #66a6ff 10%);
	width: 30%;
	margin: 0 auto;
	padding: 10px 0px;
} */

.checkout-form-first {
	width: 100%;
	margin-top: 50px;
	display: flex;
	justify-content: space-evenly;
}

input::placeholder {
	color: #000 !important;
	font-weight: 700 !important;
}

.input-group-text {
	color: #000 !important;
	font-weight: 700 !important;
}

form {
	color: #ffff !important;
	font-weight: 700 !important;
}

@media (max-width: 1200px) {
	.checkout-container {
		height: auto;
	}

	.checkout-form-first {
		display: flex;
		flex-direction: column;
		width: 80%;
		margin: 50px auto;
		gap: 80px;
	}
}
